<ion-header><p>Time remaining:{{ timer}}s</p><br><p>Lives left: {{lives}}</p></ion-header>
<ion-content>

<ion-content>
  <!-- Question 1 -->
 <div *ngFor="let quiz of quizlist">

  <ion-card *ngIf="currentQuestion === 1" class="question-card custom-bg-color">
    <ion-card-header>
      <h2 class="question-title">Question 1</h2>
    </ion-card-header>
    <ion-card-content class="question-content">
      <p class="question-text">{{quiz.question}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Answer Options for Question 1 -->
  <ion-list *ngIf="currentQuestion === 1" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('3', 1)" class="answer-button">
      {{quiz.choices[0]}}
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('4', 1)" class="answer-button">
      {{quiz.choices[1]}}
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('5', 1)" class="answer-button">
      {{quiz.choices[2]}}
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('5', 1)" class="answer-button">
      {{quiz.choices[3]}}
    </ion-button>
  </ion-list>
 </div>

 

</ion-content>