.level-item {
    --border-radius: 12px;
    --background: linear-gradient(145deg, #ffffff, #f0f0f0);
    --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --color: #333;
    --ion-item-padding-start: 20px;
    --ion-item-padding-end: 20px;
    --height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .level-icon {
    font-size: 2.5rem;
    color: #ffcc00;
    margin-right: 15px;
  }
  
  .level-title {
    font-size: 1.2rem;
    margin: 0;
    color: var(--color);
  }
  
  .level-description {
    font-size: 0.9rem;
    margin: 0;
    color: #666;
  }
  .level-list-container {
    padding: 20px; /* Add padding for spacing */
  }
  
  .level-header {
    text-align: center; /* Center align the header */
    margin-bottom: 20px; /* Add some bottom margin */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Apply bold font weight */
  }
  
  