
<div class="level-list-container">
  <h2 class="level-header">Choose Level</h2>
  <ion-list>
    <ion-item button (click)="startQuiz()" class="level-item">
      <ion-icon name="star" slot="start" class="level-icon"></ion-icon>
      <ion-label>
        <h2 class="level-title">Level 1</h2>
      </ion-label>
    </ion-item>

    <ion-item button (click)="startQuiz2()" class="level-item">
      <ion-icon name="flash" slot="start" class="level-icon"></ion-icon>
      <ion-label>
        <h2 class="level-title">Level 2</h2>
      </ion-label>
    </ion-item>

    <ion-item button (click)="startQuiz3()" class="level-item">
      <ion-icon name="flame" slot="start" class="level-icon"></ion-icon>
      <ion-label>
        <h2 class="level-title">Level 3</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
