
<ion-content [fullscreen]="true">
<div class="input">
  <ion-item>
    <ion-label position="floating">Mode</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Question</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.question"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correct Answer</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.correctAnswer"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select label="category" multiple="true" [(ngModel)]="quizzes.category">
      <ion-select-option *ngFor="let category of category" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select label="level" multiple="true" [(ngModel)]="quizzes.level">
      <ion-select-option *ngFor="let level of level" [value]="level">{{ level }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Choice 1</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.choices"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Choice 2</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.choices"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Choice 3</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.choices"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Choice 4</ion-label>
    <ion-input type="text" [(ngModel)]="quizzes.choices"></ion-input>
  </ion-item>

</div>
<div class="btn">
  <ion-button (click)="createQuiz()">Create</ion-button>
</div>

</ion-content>
