<ion-header><p>Time remaining:{{ timer}}s</p><br><p>Lives left: {{lives}}</p></ion-header>
<ion-content>

<ion-content>
  <!-- Question 1 -->
  <ion-card *ngIf="currentQuestion === 1" class="question-card custom-bg-color">
    <ion-card-header>
      <h2 class="question-title">Question 1</h2>
    </ion-card-header>
    <ion-card-content class="question-content">
      <p class="question-text">What is 12 + 7?</p>
    </ion-card-content>
  </ion-card>

  <!-- Answer Options for Question 1 -->
  <ion-list *ngIf="currentQuestion === 1" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('19', 1)" class="answer-button">
      <ion-label>19</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('10', 1)" class="answer-button">
      <ion-label>10</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('18', 1)" class="answer-button">
      <ion-label>18</ion-label>
    </ion-button>
  </ion-list>

  <!-- Question 2 -->
  <ion-card *ngIf="currentQuestion === 2" class="question-card custom-bg-color">
    <ion-card-header>
      <h2 class="question-title">Question 2</h2>
    </ion-card-header>
    <ion-card-content class="question-content">
      <p class="question-text">What is 7 x 10?</p>
    </ion-card-content>
  </ion-card>

  <!-- Answer Options for Question 2 -->
  <ion-list *ngIf="currentQuestion === 2" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('67', 2)" class="answer-button">
      <ion-label>67</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('70', 2)" class="answer-button">
      <ion-label>70</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('60', 2)" class="answer-button">
      <ion-label>60</ion-label>
    </ion-button>
  </ion-list>

  <!-- Question 3 -->
  <ion-card *ngIf="currentQuestion === 3" class="question-card custom-bg-color">
    <ion-card-header>
      <h2 class="question-title">Question 3</h2>
    </ion-card-header>
    <ion-card-content class="question-content">
      <p class="question-text">What is 80 - 9?</p>
    </ion-card-content>
  </ion-card>

  <!-- Answer Options for Question 3 -->
  <ion-list *ngIf="currentQuestion === 3" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('80', 3)" class="answer-button">
      <ion-label>80</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('43', 3)" class="answer-button">
      <ion-label>43</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('81', 3)" class="answer-button">
      <ion-label>81</ion-label>
    </ion-button>
  </ion-list>

 <!-- Question 4 -->
 <ion-card *ngIf="currentQuestion === 4" class="question-card custom-bg-color">
  <ion-card-header>
    <h2 class="question-title">Question 4</h2>
  </ion-card-header>
  <ion-card-content class="question-content">
    <p class="question-text">What is 75-25?</p>
  </ion-card-content>
</ion-card>

   <!-- Answer Options for Question 4 -->
   <ion-list *ngIf="currentQuestion === 4" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('50', 4)" class="answer-button">
      <ion-label>50</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('25', 4)" class="answer-button">
      <ion-label>25</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('55', 4)" class="answer-button">
      <ion-label>55</ion-label>
    </ion-button>
  </ion-list>

  <!-- Question 5 -->
  <ion-card *ngIf="currentQuestion === 5" class="question-card custom-bg-color">
    <ion-card-header>
      <h2 class="question-title">Question 5</h2>
    </ion-card-header>
    <ion-card-content class="question-content">
      <p class="question-text">What is 53 - 7?</p>
    </ion-card-content>
  </ion-card>

  <!-- Answer Options for Question 5 -->
  <ion-list *ngIf="currentQuestion === 5" class="answer-options">
    <ion-button expand="block" (click)="checkAnswer('43', 5)" class="answer-button">
      <ion-label>43</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('46', 5)" class="answer-button">
      <ion-label>46</ion-label>
    </ion-button>
    <ion-button expand="block" (click)="checkAnswer('44', 5)" class="answer-button">
      <ion-label>44</ion-label>
    </ion-button>
  </ion-list>
</ion-content>

