.create-page {
    .input {
      ion-item {
        margin-bottom: 15px;
  
        ion-label {
          color: #881111; // Customize label color
        }
      }
  
      ion-item-divider {
        margin: 15px 0;
      }
    }
  
    .btn {
      margin: 20px;
    }
  }
  